# This file tells git what files to ignore.

# Python files.
*.py[cod]
*.so
*.pickle

# Auxiliary LaTeX files.
*.dvi
*.log
*.aux
*.toc
*.lof
*.lot
*.ps
*.eps
*.pdf
# Beamer
*.nav
*.out
*.snm
*.vrb
# listings
*.lol

# EOF
